    body{
        margin: 0;
        padding: 0;
        font-family: Tahoma;
    }
    .screen{
        height: 100vh;
        width: 100vw;
        display: none;
    }

    #register-screen,
    #login-screen{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;
    }
    h2 {
        justify-content: center;
        display: flex;
    }
    #register-screen form,
    #login-screen form{
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }
    #register-screen form input,
    #login-screen form input{ 
        padding: 10px;
        border-color: #703EFF;
        border-radius: 20px;
        outline: none;
    }

    .btn1{ 
        background-color: #703EFF;
        border: none;
        padding: 10px 40px;
        border-radius: 30px;
        color: #fff;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        display: block;
    }

    #register-screen{
        display: none;
    }

    #login-screen .copyRight,
    #register-screen .copyRight{
        position: absolute;
        bottom: 30px;
    }

    #statar-screen {
        display: none;
        background-image: url(images/web-design\ and\ developer.jpg);
        background-size: cover;
        flex-direction: column;
        justify-content: space-between;
    }

    .bottom-section{
        background: #fff;
        padding: 10px;
        text-align: center;
        border-radius: 20px 30px 0 0;
    }

    .top-section img{
        border-radius: 100%;
        height: 100px;
        width: 100px;
        text-align: center;
        border: 10px solid;
    }

    .top-section {
        height: 29vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #chatlist-screen *{
        padding: 0;
        margin: 0;
    }

    #chatlist-screen{
        background: #ececec;
        padding: 10px; 
        width: 100%;
        box-sizing: border-box; 
        display: flex;
        flex-direction: column;
    }

    #chatlist-screen .header {
        width: 100%;
    }
    #chatlist-screen .header .searchBox {
        display: flex;
        gap: 5px;
        background: #fff;
        align-items: center;
        padding: 8px 10px;
        border-radius: 10px;
    }

    #chatlist-screen .header .searchBox span{
        color: #ccc;
    }
    #chatlist-screen .header .searchBox input {
    border: none;
    width: 100%;
    background: #fff;
    outline: none;
    font-size: 18px;
    }

    #chatlist-screen .item img{
        border: 3px solid;
        width: 50px;
        height: 50px;
        border-radius: 70%;
    }
    .main-content {
            overflow-y: auto;
            padding: 10px;
            box-sizing: border-box;
            padding-bottom: 100px !important;
        }
    ::-webkit-scrollbar{
     display: none;
    }

    #chatlist-screen .item{
     display: flex;
     background-color: #fff;
     margin-top: 10px;
     padding: 10px;
     align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    text-decoration: none;
        
    }

    #chatlist-screen .item .left-section{
        display: flex;
        align-items: center;
        gap: 20px;

    }

    #chatlist-screen .item .user-avater{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #3eaa86;
    }
    

    #chatlist-screen .item .unread{
        background-color: rgb(127, 140, 255);
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        color: #fff;
        border-radius: 50%;
        padding: 3px;
        margin-top: 3px;
    }
    .lastms,
    .time{
        color: #7e7e7e;
        font-size: 14px;
    }

    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position:fixed;
        background: #fff;
        width: 100%;
        padding: 15px 20px !important;
        box-sizing: border-box;
        bottom: 0;
        left: 0;
        border-radius: 20px 20px 0 0;
        box-shadow: 0px -6px 5px 0px #00000029;
    }
    .footer .add-icon{
        position: absolute;
        top: -20;
        left: 50%;
        transform: translateX(-50%);
        background: #7840F2;
        color: #fff;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .footer > div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 10px;
    }

    .footer > div a{
    color: #949393;
    font-size: 20px;

    }

    .footer > div a.active{
    color: #7840F2;
    font-size: 20px;

    }

    #single-screen {
        background: #ececec;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    #single-screen .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        height: 100px;
        background: #fff;
        box-sizing: border-box;
        padding: 17px 18px;
        border-radius: 0  0 15px 15px;
        box-shadow: 1px 1px 7px 0px #0000008a;

    }

    #single-screen .header > div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    #single-screen .header .item {
        display: flex;
        background-color: #fff;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        text-decoration: none;
    }
        
    #single-screen .header .item *{
        padding: 0;
        margin: 0;
    }


    #single-screen .header .item .left-section{
        display: flex;
        align-items: center;
        gap:7px;

    }

    .user-avater img{
        border-radius: 100%;
        height: 40px;
        width: 40px;
        text-align: center;
        border: 3px solid;
        
        }
        
        #single-screen.footer.inputform{
            background: #e7e7e7;
            box-sizing: border-box;
            border-radius: 26px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #single-screen.footer.inputform input{
            border: 0;
            font-size: 20px;
            width: 100%;
            background: #e7e7e7;
            outline: none;
            padding: 7px;
        }

        #single-screen.footer .inputform > div{
        display: flex;
        gap: 10px;
        }
        #single-screen.footer .inputform > div span{
        font-size: 20px;
        color: #949393;
        }

        #singel-screen .footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position:fixed;
            background: #fff;
            width: 100%;
            padding: 4px 19px !important;
            box-sizing: border-box;
            bottom: 0;
            left: 0;
            border-radius: 30px 30px 0 0;
            box-shadow: 0px -6px 5px 0px #00000029;
        }

        #single-screen .item.sender{
            display: flex;
            align-items: start;
            flex-direction: column;
        }
        #single-screen .item.sender .messages{
            background-color: #3eaa86;
            color: #fff;
            padding: 10px;
            border-radius: 0 15px 15px 15px;
        }
        #single-screen .item.reciver{
            display: flex;
            align-items: end;
            flex-direction: column;
        }
        #single-screen .item.reciver .messages{
            background-color: #1487aa;
            padding: 10px;
            border-radius: 15px 15px 0px 15px;
            color: #fff;
        }
        #single-screen .item .messages *{
            padding: 0;
            margin: 0;
        }
        #single-screen .item .messages img{
            max-width: 100%;
            border-radius: 10px;
            cursor: pointer;
        }
        